{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <section>
            {{>title data="BIO" big=true}}
        </section>

        <ul>
            <strong>
                name: {{name}}<br>
                birthdate: {{birthdate}}<br>
                birthplace: {{birthplace}}<br>
                deathdate: {{deathdate}}<br>
                deathplace: {{deathplace}}<br>
                nationality: {{nationality}}<br>
                occupation: {{occupation}}<br>
                known_for: {{known_for}}
            </strong>
        </ul>
        <section>
            {{>title data="Education" big=true}}
        </section>
        <ul>
            {{#each education}}
            {{degree}}<br>
            {{field}}<br>
            {{institution}}<br>
            {{year}}
            {{/each}}

        </ul>
        <section>
            {{>title data="Notable Publications" big=true}}
        </section>
        <ul>
            {{#each notable_publications}}
            <li>
                {{title}}<br>
                {{publisher}}<br>
                {{year}}
            </li>
            {{/each}}
        </ul>
        <section>
            {{>title data="Partners" big=true}}
        </section>
        <ul>
            {{#each partners}}
            {{name}}<br>
            {{relationship}}<br>
            {{years}}
            {{/each}}
            <li>
                {{#each awards}}
                {{title}}<br>
                {{year}}<br>
                {{discription}}
                {{/each}}
            </li>
        </ul>
        <ul>
            <hr>
            {{influences}}
            <hr>
            {{influenced}}
            <hr>
            {{quotes}}
            <hr>
        </ul>
        <ul>
            {{#each major_discoveries}}
            {{title}}<br>
            {{year}}<br>
            {{description}}
            {{/each}}
        </ul>
        <hr>
        <ul>
            {{#with contributions}}
            {{title}}<br>
            {{description}}<br>
            {{year}}<br>
            {{field}}
            {{/with}}
            {{#each workExperience}}
            company:{{company}}<br>
            title:{{title}}<br>
            startDate: {{startDate}}<br>
            endDate:{{endDate}}<br>
            responsibilities:{{responsibilities}}<br>
            <br>
            year_founded:{{year_founded}}<br>
            industry:{{industry}}<br><br><br>
            <ul>
                <hr>
                <strong>Employees</strong><br>
                <hr>
                {{#each employees}}
                name: {{name}}<br>
                position: {{position}}<br>
                department: {{departament}}
                <ul>
                    {{#each projects}}
                    <li>
                        {{name}}<br>
                        {{description}}<br>
                        {{status}}
                    </li>
                </ul>
                <p>
                <ul>
                    {{#each teams}}
                    <li>
                        {{team_name}}
                        {{#with team_leader}}
                        <ul>
                            <li>
                                {{name}}<br>
                                {{title}}<br>
                                {{email}}
                            </li>
                        </ul>
                        {{/with}}<br>
                        {{#each team_members}}
                        <ul>
                            <li>
                                {{name}}<br>
                                {{title}}<br>
                                {{email}}<br>
                                {{skills}}
                            </li>
                            <br>
                            {{#each projects }}
                            <ul>
                                <li>
                                    {{name}}<br>
                                    {{description}}<br>
                                    {{technologies}}<br><br>

                                    {{#each team_members}}
                                    <p> <strong>{{name }}</strong></p>
                                    {{title}}
                                    {{/each}}
                                </li>
                            </ul>
                            {{/each}}
                        </ul>
                        {{/each}}

                    </li>
                    {{/each}}
                </ul>
                </p>
                {{/each}}

            </ul>
            {{/each}}
            {{/each}}
            >>>>>>> db98c5bb529f2fea251c0c98f098a620504bc61c
        </ul>
        <hr>
    </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}