{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <section>
            {{>title data="BIO" big=true}}
        </section>

        <ul>
            <strong>
                name: {{name}}<br>
                birthdate: {{birthdate}}<br>
                birthplace: {{birthplace}}<br>
                deathdate: {{deathdate}}<br>
                deathplace: {{deathplace}}<br>
                nationality: {{nationality}}<br>
                occupation: {{occupation}}<br>
                known_for: {{known_for}}
            </strong>
        </ul>
        <section>
            {{>title data="Education" big=true}}
        </section>
        <ul>
            {{#each education}}
            {{degree}}<br>
            {{field}}<br>
            {{institution}}<br>
            {{year}}
            {{/each}}

        </ul>
        <section>
            {{>title data="Notable Publications" big=true}}
        </section>
        <ul>
            {{#each notable_publications}}
            <li>
                {{title}}<br>
                {{publisher}}<br>
                {{year}}
            </li>
            {{/each}}
        </ul>
        <section>
            {{>title data="Partners" big=true}}
        </section>
        <ul>
            {{#each partners}}
            {{name}}<br>
            {{relationship}}<br>
            {{years}}
            {{/each}}
            <li>
                {{#each awards}}
                {{title}}<br>
                {{year}}<br>
                {{discription}}
                {{/each}}
            </li>
        </ul>
        <ul>
            <hr>
            {{influences}}
            <hr>
            {{influenced}}
            <hr>
            {{quotes}}
            <hr>
        </ul>
        <ul>
            {{#each major_discoveries}}
            {{title}}<br>
            {{year}}<br>
            {{description}}
            {{/each}}
        </ul>
        <hr>
        <ul>
            {{#with contributions}}
            {{title}}<br>
            {{description}}<br>
            {{year}}<br>
            {{field}}
            {{/with}}
        </ul>
        <hr>
    </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}