{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <strong>
        <section>
            <span class="badge bg-secondary" style="color: chartreuse;"> {{>title data="TASK21" big=true}}</span>
        </section>
    </strong>
    <main>
        {{#with heading}}
        <div class='card'>
            <div class='card-body'>

                <br />
                <div class='card'>
                    <div class='card-body'>

                        {{#with main}}
                        <div>
                            <h1>{{title}}</h1>
                        </div>
                        <p class='text-secondary'>{{text}}</p>
                        {{#with button_text}}
                        <div><button class='btn btn-primary'>{{solid}}</button></div>
                        <br /><br />
                        <div><button class='btn btn-outline-primary'>{{outline}}</button></div>
                        {{/with}}
                        {{/with}}

                    </div>
                </div>

                <br />
                <div class='card'>
                    <div class='card-body'>
                        {{#with second}}
                        <div>
                            <h2>{{title}}</h2>
                        </div>
                        <p class='text-secondary'>{{text}}</p>
                        {{#with button_text}}
                        <div><button class='btn btn-secondary'>{{solid}}</button></div>
                        <br />
                        <div><button class='btn btn-outline-secondary'>{{outline}}</button></div>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>

                <br />
                <div class='card'>
                    <div class='card-body'>
                        {{#with subblock}}
                        <div>
                            <h3>{{title}}</h3>
                        </div>
                        <p class='text-secondary'>{{text}}</p>
                        {{#with button_text}}
                        <div><button class='btn btn-dark'>{{solid}}</button></div>
                        <br />
                        <div><button class='btn btn-outline-dark'>{{outline}}</button></div>
                        {{/with}}
                        {{/with}}
                    </div>
                </div>
                <br />
            </div>
        </div>
        {{/with}}

        <br />
        {{#with nested_display}}
        <div class='card'>
            <div class='card-body'>
                <div class='display-1'>{{title}}</div>
                <br />
                {{#with children_display}}
                <div class='card'>
                    <div class='card-body'>
                        <div class='display-4'>{{title}}</div>
                        <p class='text-secondary'>{{text}}</p>
                        {{#with button}}
                        <button class='btn btn-outline-warning'>{{text}}</button>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
                <br />
                <div class='display-6'>{{header_text}}</div>
                <br />
                {{#with button}}
                <button class='btn btn-info text-light'>{{text}}</button>
                {{/with}}
            </div>
        </div>
        {{/with}}
        <br />
        {{#with paragraph}}
        <div class='card'>
            <div class='card-body'>
                <p class='text-uppercase'>{{title}}</p>
                <br />
                <p class='text-lowercase'>{{text}}</p>
                {{#with button}}
                <a href='{{url}}' class='btn btn-link'>{{text}}</a>
                {{/with}}
                <br />
                <br />
                <div class='card'>
                    <div class='card-body'>
                        {{#each list_name}}
                        <ul>
                            <li><a href='{{url}}' class='btn btn-link'>{{text}}</a></li>
                        </ul>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}