{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <section>
        <span class="badge bg-secondary" style="color: chartreuse;"> {{>title data="TASK22" big=true}}</span>
    </section>
    <main>
        <section>
            {{#with page_header}}
            <h1 class="text-center">{{title}}</h1>
            <div class="text-center">{{description}}</div>
            {{/with}}
            <br>
            {{#with section}}
            <div class="card">
                <div class="card-body">
                    {{#with about_us}}
                    <div>
                        {{#with title_list}}
                        <div class="text-end display-6">{{main}}</div>
                        <br>
                        <h2 class="text-end">{{sub}}</h2>
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-outline-info">{{button.text}}</button>
                    </div>
                    {{/with}}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with advantage}}
                    <div class="display-5 text-muted">{{title}}</div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            {{#with efficiency}}
                            <div class="display-4 text-muted">{{title}}</div>
                            <br>
                            <h6>{{sub_title}}</h6>
                            <br>
                            <div>{{description}}</div>
                            <br>
                            <div><button type="button" class="btn btn-outline-warning">{{button}}</button></div>
                            {{/with}}
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with innovation}}
                            <div class="display-4 text-muted text-center">{{title}}</div>
                            <br>
                            <h6 class="text-center">{{sub_title}}</h6>
                            <br>
                            <div class="text-center">{{description}}</div>
                            <br>
                            <div><button type="button" class="btn btn-outline-warning">{{button}}</button></div>
                            {{/with}}
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-body">
                            {{#with collaboration}}
                            <div class="display-4 text-muted text-end">{{title}}</div>
                            <br>
                            <h6 class="text-end">{{sub_title}}</h6>
                            <br>
                            <div class="text-end">{{description}}</div>
                            <br>
                            <div><button type="button" class="btn btn-outline-warning">{{button}}</button></div>
                            {{/with}}
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>

            <br>

            <div class="card">
                <div class="card-body">
                    {{#with agreement}}
                    <div class="display-5">{{title}}</div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            {{#with info}}
                            <h5>{{sub_title}}</h5>
                            <br>
                            <div class="card">
                                <div class="card-body">
                                    {{#with detail}}
                                    <div>{{text}}</div>
                                    <br>
                                    <div><button type="button" class="btn btn-outline-warning">{{button}}</button></div>
                                    {{/with}}
                                </div>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
                {{/with}}
        </section>
    </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}